node-red/flows.json
[
  {
    "id": "pot-data-mqtt",
    "type": "mqtt in",
    "z": "flows",
    "name": "Pot Sensor Data",
    "topic": "esp/pot_data",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt-broker",
    "x": 120,
    "y": 100,
    "wires": [["send-pot-data"]]
  },
  {
    "id": "send-pot-data",
    "type": "http request",
    "z": "flows",
    "name": "Send Pot Data to API",
    "method": "POST",
    "ret": "txt",
    "url": "http://backend:8000/api/pots/data",
    "x": 360,
    "y": 100,
    "wires": [[]]
  },
  {
    "id": "enviro-mqtt",
    "type": "mqtt in",
    "z": "flows",
    "name": "Environment Data",
    "topic": "esp/enviro_data",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt-broker",
    "x": 130,
    "y": 180,
    "wires": [["send-enviro"]]
  },
  {
    "id": "send-enviro",
    "type": "http request",
    "z": "flows",
    "name": "Send Enviro Data to API",
    "method": "POST",
    "ret": "txt",
    "url": "http://backend:8000/api/enviro/data",
    "x": 370,
    "y": 180,
    "wires": [[]]
  },
  {
    "id": "weather-mqtt",
    "type": "mqtt in",
    "z": "flows",
    "name": "Weather Data",
    "topic": "esp/weather_data",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt-broker",
    "x": 120,
    "y": 260,
    "wires": [["send-weather"]]
  },
  {
    "id": "send-weather",
    "type": "http request",
    "z": "flows",
    "name": "Send Weather to API",
    "method": "POST",
    "ret": "txt",
    "url": "http://backend:8000/api/weather/data",
    "x": 350,
    "y": 260,
    "wires": [[]]
  },
  {
    "id": "irrigate-http",
    "type": "http in",
    "z": "flows",
    "name": "Water Command",
    "url": "/irrigate/:id",
    "method": "post",
    "x": 110,
    "y": 340,
    "wires": [["make-mqtt"]]
  },
  {
    "id": "make-mqtt",
    "type": "function",
    "z": "flows",
    "name": "To MQTT",
    "func": "msg.topic = 'irrigation/command';\nmsg.payload = {valve_id: msg.req.params.id, action: 'open', duration_sec: msg.payload.duration || 60};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 340,
    "wires": [["irrigation-out"]]
  },
  {
    "id": "irrigation-out",
    "type": "mqtt out",
    "z": "flows",
    "name": "Send Command",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "mqtt-broker",
    "x": 470,
    "y": 340,
    "wires": []
  },
  {
    "id": "mqtt-broker",
    "type": "mqtt-broker",
    "name": "MQTT Broker",
    "broker": "mqtt",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": ""
  }
]
